body {
    letter-spacing: -0.5px;
}

div {
    box-sizing: border-box;
}

.wrapper {
    width: 95%;
    margin: auto;
}

.main-section {
    display: flex;
    padding: 40px 40px 0 40px;
    background: linear-gradient(to bottom, lightblue, cornflowerblue);
}

.main-text {
    width: 60%;
    color: white;
}

.main-text button {
    width: 100px;
    height: 40px;
    color: white;
    background-color: #464646;
    border-radius: 4px;
    border: none;
    margin: 5px 0 0 5px;
}

.main-section img {
    width: 40%;
    min-width: 300px;
    margin-top: 45px;
}

.second-section {
    display: flex;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section button {
    width: 150px;
    height: 40px;
    color: white;
    background-color: #464646;
    border-radius: 4px;
    border: none;
    margin: 5px 0 0 5px;
}

.third-section {
    color: white;
    background-color: cornflowerblue;
    padding: 20px 0;
    text-align: center;
}

.service {
    width: 25%;
    float: left;
}

.service i {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 50px;
    font-size: 50px;
    color: cornflowerblue;
    padding-top: 25px;
}

.forth-section .text {
    text-align: center;
}

.cards {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.cards h4, .cards p {
    color: white;
}

.card1-wrapper {
    position: relative;
    width: 50%;
}

.card1 {
    width: 100%;
    height: 250px;
    padding: 30px;
    font-size: 18px;
    background-size: cover;
    background-image: url("../img/portfolio-1.jpg");
}

.card1-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 250px;
    padding: 30px;
    border: 0 solid white;
    transition: border 1s;
}

.card1-wrapper:hover .card1-overlay {
    border: 20px solid white;
}

.card2 {
    width: 50%;
    height: 250px;
    padding: 30px;
    font-size: 18px;
    background-size: cover;
    background-image: url("../img/portfolio-2.jpg");
}

.card3 {
    width: 50%;
    height: 250px;
    padding: 30px;
    font-size: 18px;
    background-size: cover;
    background-image: url("../img/portfolio-3.jpg");
}

.card4 {
    width: 50%;
    height: 250px;
    padding: 30px;
    font-size: 18px;
    background-size: cover;
    background-image: url("../img/portfolio-4.jpg");
}

.fifth-section {
    text-align: center;
    margin: 70px auto;
}

.fifth-section i {
    width: 60px;
    height: 60px;
    padding-top: 20px;
    margin: 10px;
    color: white;
    background-color: cornflowerblue;
    border-radius: 50px;
    font-size: 20px;
    box-sizing: border-box;
}

.fifth-section div {
    margin-top: 10px;
}

.fifth-section span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid;
    border-radius: 50px;
    font-size: 11px;
}
@media screen and (max-width : 1200px) {
}

@media screen and (max-width : 768px) {
    .main-section {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
